@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400');

$font-general: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
$display-desktop: grid;
$display-mobile: flex;
@mixin margenes($top, $left, $right) {
    margin-top: $top;
    margin-left: $left;
    margin-right: $right;
}
$mapa: (
    posicion: relative,
    alineacion-texto: center
);

body{
    display: grid;
    height: 100vh;
    margin:0;
    font-family: $font-general;
    background-image: url("../img/fondo-main.png");
    background-size:cover
}
h1{
    font-size: 3vmax;
    margin: 1px;
    font-style: italic;
    font-weight: 300;
}
h2{
    font-size: 2vmax;
    margin: 1px;
    font-style: normal;
    font-weight: normal;
}
h3{
    font-size: 1.5vmax;
    margin: 1px;
    font-style: normal;
    font-weight: normal;
}
@media(max-width: 500px){
    h3{
        font-size: 1.3vmax;
    }
}
a:link{
    color: #E5E5E5;
    text-decoration: none;
}
a:visited{
    color: #E5E5E5;
    text-decoration: none;
}
a:hover{
    color: #E5E5E5;
    text-decoration: underline;
}
input:focus{
    outline: none;
}
nav ul{
    margin:0;
    padding:0;
}
nav ul li{
    display: inline;
    margin: 5vmax;
}
header{
    grid-area: header;
}
div{
    display: inline;
    margin: 0 0px;
}
@keyframes TransparenciaAl100 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
@media(max-width: 2000px){
    #plantilla{
    display: $display-desktop;
    height: 100vh;
    grid-template-areas:
        "header header header header header"
        "main main main main main"
        "footer footer footer footer footer";
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    animation: TransparenciaAl100 1.5s linear;
    }
}
@media(max-width: 500px){
    #plantilla{
        display: $display-mobile;
        flex-direction: column;
    }
}
#footer-outer-grid{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-gap: 0px;
    height: 69px;
    text-align: center;
    align-content: center;
}
#footer-inner-grid{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0px;
    line-height: 0px;
    align-items: center;
    text-align: center;
    align-content: center;
}
@media(max-width: 2000px){
    #main__grid{
    display: $display-desktop;
    grid-template-columns: auto auto auto;
    grid-gap: 0px;
    height: fit-content;
    align-items: center;
    text-align: center;
    align-content: center;
    }
}
@media(max-width: 500px){
    #main__grid{
        display: $display-mobile;
        flex-direction: column;
    }
}
.header__menu{
    @include margenes(20px, 20px, 20px);
    position: map-get($mapa, posicion);
    width:auto;
    height: fit-content;
    background: #602749;
    opacity: 0.7;
    box-sizing: border-box;
    border-radius: 10px;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 40px;
    align-items: center;
    text-align: map-get($mapa, alineacion-texto);
    align-content: center;
    color: #E5E5E5;
    & a{
        font-size: 1.5vmax;
    }
}
.botones--grandes{
    display:inline-flex;
    margin: 0px;
    padding: 0px;
    padding-left: 1vmax;
    padding-right: 1vmax;
    width:auto;
    height: 3vmax;
    opacity: 0.6;
    box-sizing: border-box;
    border-radius: 25px;
    font-style: normal;
    font-weight: 300;
    font-size: 1.5vmax;
    line-height: 60px;
    align-items: center;
}
.botones--chicos{
    width: 8vmax;
    height: 2.5vmax;
    font-size: 1vmax;
    margin-top: 5px;
    margin-bottom: 5px;
}
.main{
    grid-area: main;
    position:relative;
    font-style: normal;
    font-weight:100;
    font-size: 20px;
    align-items: center;
    text-align: center;
    align-content: center;
    color: #ada9a9;
    &__formulario{
        display: flex;
        margin-top: 4max;
        margin-left: 4vmax;
        margin-right: 4vmax;
        margin-bottom: 4vmax;
        padding: 10vmax;
        width: auto;
        height: auto;
        background: #000000;
        opacity: 0.4;
        border: 1px solid #F57CFF;
        box-sizing: border-box;
        border-radius: 25px;
        justify-content: center;
        color: white;
    }
    &__div__ingresar{
        @extend .botones--grandes;
        background: #222222;
        border: 1px solid #000000;
        color: #ffffff;
        transition: 1s ease-in-out;
    }
    &__div__ingresar:hover{
        transform: scale(1.2,1.2);
    }
    &__div__fotos{
        border-radius: 25px;
        margin: 5px;
        width: 25vmax;
        height: 15.5vmax;
        max-width: 30vw;
        opacity: 0.9;
        border: 1px solid #000000;
        box-sizing:border-box;
    }
    &__div__cuadros__texto--texto{
        border-radius: 25px;
        margin: 5px;
        width: 25vmax;
        height: 15.5vmax;
        padding: 2vmax 1vmax 2vmax 1vmax;
        max-width: 30vw;
        opacity: 0.7;
        border: 1px solid #000000;
        box-sizing:border-box;
        background-color: black;
        font-style: italic;
    }    
    &__div__fotos--autofit{
        margin: 0px;
        max-width: 100%;
        height: auto;
        box-sizing:border-box;
    }
}
@media(max-width: 500px){
    .main__div__cuadros__texto{
        display: $display-desktop;
        grid-template-columns: 1fr 1fr;
    }
}
.footer{
    grid-area: footer;
    position: relative;
    margin: 0px;
    padding: 0;
    width: auto;
    height: fit-content;
    margin-left: 20px;
    margin-right: 20px;
    background: #F7F7F7;
    opacity: 0.7;
    border-radius: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    align-content: space-around;
    color: #000000;
    &__logos{
        width: 3vmax;
    }
    &__item--left{
        display: flex;
        align-items: center;
    }
    &__item--right{
        display: flex;
        align-items:flex-end;
        justify-items:right;
        justify-content: right;
    }
    & span{
        font-size: 1.2vmax;
    }
}
